<div class="cube"> <img class="cube" src="{{imageUrl}}">
  <p class="name">{{name}}</p>
  <p><span>Difficulty level:</span> {{difficulty}}</p>
  <a class="btn" href="/details/{{id}}">Details</a>
</div>

{{!-- https://ae01.alicdn.com/kf/HTB1CSddXRxRMKJjy0Fdq6yifFXa6/Gan-356-Air-SM-3x3-Black-Magic-cube-GAN-Air-SM-Magnetic-3x3x3-Speed-cube-gans.jpg --}}